button{
    color: white;
    background-color: blue;
    padding: 8px;
    margin: 3px;
    font-size: medium;
    border-color: rgb(117, 138, 182);
    text-align: center;
    border-radius: 10px;
}

button:hover{
    background-color: gray;
    border-color: black;
}